[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
anonymaus_executor = "8VrPkLsBssC7zodetgqQUgpLRzwjE75VE6uSGAbLdy4Y"

[programs.devnet]
anonymaus_executor = "8VrPkLsBssC7zodetgqQUgpLRzwjE75VE6uSGAbLdy4Y"

[programs.mainnet]
anonymaus_executor = "8VrPkLsBssC7zodetgqQUgpLRzwjE75VE6uSGAbLdy4Y"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""